@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Trang Dich Vu</h1>
<a asp-page="Dichvu1">Dich vu 1</a>

Dùng lệnh asp-page thì nó sẽ tự động phát sinh ra thuộc tính href là cái địa chỉ đến trang mà bạn muốn truy cập